@model Company.Models.Topicality

@{
    ViewBag.Title = "Delete";
}

<div class=" jumbotron ">
    <h2>Usuwanie</h2>
</div>

<h3>Czy napewno chcesz usunąć tą informację?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TripDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripDescription)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
